<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-user">
    Hi Lilupa
  </ion-card>
  <ion-card class="next-dana-offering">
    Your next dana offering is on 10th March morning. Please be there before 6 am.
  </ion-card>
  <ion-card class="contact-coordinator">
    If you would like to contact the coordinator please use either option below
    <button type="button" ion-button>Wanna contact the coordinator ASAP</button>
    <button type="button" ion-button>I wanna change my danaya</button>
  </ion-card>
  <ion-card class="contact-coordinator">
    <button type="button" ion-button routerLink="/contact-coordinator" routerDirection="forward">I Wanna contribute to the dana roster</button>
  </ion-card>
</ion-content>