<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact Coordinator
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form name="contact-coordinator">
  <label ion-label>This Month's Coordinator</label>
  <input type="text" name="coordinatorName" readonly value="Anjana">
  <label name="your-query-label">Your Questions/ Comment</label>
  <input type="text" name="your-query">
  <button ion-button class="btn btn-success" type="button">Submit</button>
</form>
</ion-content>